{# templates/partials/header.html.twig #}

<header>
    <nav>
        <ul>
            <li><a href="">Inscription</a></li>
            <li><a href="">Jeux vidéo</a></li>
        </ul>
    </nav>
</header>