<!-- templates/user/index.html.twig -->

{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <!-- Ajoutez plus de colonnes si nécessaire -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <!-- Ajoutez plus de colonnes si nécessaire -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
